<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DealerData_DB.Properties.Settings.dataminersDealerDataConnectionString"
            connectionString="server=css475dbinstance.cs0surzhmcrb.us-east-2.rds.amazonaws.com;user id=dataminers475;password=DATAminers;persistsecurityinfo=True;database=dataminersDealerData"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>